body {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-image: url('./assets/img/fondo 1.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #000;
}

.App-logo {
  height: 50px;
}

nav a {
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}

nav a.active {
  background-color: #FFD700;
  color: #000;
  padding: 10px 20px;
  border-radius: 25px;
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons img {
  height: 25px;
  margin-left: 20px;
}

.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  min-width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

main {
  padding: 50px 0;
}

.search-container {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
  color: #000;
}

.main-title {
    font-family: 'Antonio', sans-serif;
    font-size: clamp(2.5rem, 10vw, 5rem);
    color: #fff;
    text-transform: uppercase;
    margin-top: 100px;
    font-weight: 700;
}


/* Responsive Design */
@media (max-width: 992px) {
  .App-header {
    padding: 20px 30px;
  }

  nav a {
    margin: 0 15px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
    padding: 20px;
  }

  .App-logo {
    margin-bottom: 20px;
  }

  nav {
    margin-bottom: 20px;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

  .header-icons {
    margin-top: 20px;
  }

  .search-container {
    padding: 20px;
  }

  .main-title {
    margin-top: 50px;
  }
}

@media (max-width: 576px) {
  nav a {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}


/* Contenedor principal del carrusel */
.product-carousel {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0 50px; /* Aumentar el padding-bottom para dar espacio a los puntos */
  position: relative;
}


/* Estilo para el carrusel en sí (Slider) */
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para los puntos de navegación (dots) */
.slick-dots {
  position: absolute;
  bottom: -40px; /* Ajusta los puntos para que no se superpongan */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}


.slick-dots li button {
  background-color: #e67e22; /* Color de los puntos */
  border-radius: 50%;
  width: 8px; /* Puntos más pequeños */
  height: 8px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: #333; /* Color del punto activo */
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.add-to-cart-button {
  background-color: #FFD700;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #f2c400;
}

